* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background: linear-gradient(#1354A5 0%, #041832 33.33%, #041832 66.67%, #01080E 100%); 
    height: 100vh;
    display: flex; 
    align-items: center;
    justify-content: center;
    /* position: relative; */
}

body::before {
    background-image: url("img/candado.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

.container {
    width: 80%;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 24px;
    border: 1px solid #1875E8;
    box-shadow: 4px 4px 20px 0px rgba(1, 8, 14, 0.15);
    background-image: url("img/Ruido.png");
    background-size: 100% 100%;
    position: relative;
    overflow: hidden;
    /* padding: 2rem; */
}

.container__contenido {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    justify-content: center;
}

.container__informacion {
    flex: 1;
    padding: 3rem;
    
}

h1 {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    padding: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}

.container__texto {
    margin: 12px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.container__texto-azul {
    color: #1875E8;
    display: block;
}

.container__campo {
    display: flex;
    align-items: center;  
    margin-bottom: 12px;
    margin: 20px;
    gap: 1rem;
    justify-content: center;
    /* flex-direction: column; */
}

.texto__parrafo {
    color: #FFF;
    font-family: 'Inter';
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 1px;
    display: flex;
    align-items: baseline;
    /*justify-content: space-between;*/
    gap: 1rem;
    /* text-align: center; */
}

.container__input {
    width: 148px;
    height: 72px;
    border-radius: 16px;
    background-color: #FFF;
    border: none;
    color: #535353;
    padding: 2rem;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    /* text-align: center; */
    
}

.boton{
    color: white;
    font-size: 1.5rem;
    border: none;
    background-color: #1875E8;
    padding: 1rem 1.5rem;
    border-radius: 16px;
    width: 148px;
    height: 72px;
    box-shadow: 0px 0px 20px 0px rgba(24, 117, 232, 0.50);
    cursor: pointer;
    /* text-align: center; */

}

.botonL{
    color: white;
    font-size: 1.5rem;
    border: none;
    background-color: #1875E8;
    padding: 1rem 1.5rem;
    border-radius: 16px;
    width: 148px;
    height: 72px;
    box-shadow: 0px 0px 20px 0px rgba(24, 117, 232, 0.50);
    cursor: pointer;
}

.container__contrasena {
    width: 496px;
    height: 72px;
    border-radius: 16px;
    background-color: #FFF;
    border: none;
    color: #1875E8;
    margin: 50px;
    padding: 1rem;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    text-align: center;

}



